.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: black;
}

.footer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
}

.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
