.header {
  width: 100%;
  height: 100px;
  background-color: #024545;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  height: 80px;
  margin-top: 10px;
  margin-left: 35px;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px 0px 0px 11px;
}

.header__menu:hover ul,
ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  display: flex;
  color: white;
  margin-right: 60px;
  align-items: center;
}

.header__menu--profile img {
  margin: 15px 0px 0px 0px;
  height: 60px;
}

.header__menu--profile p {
  margin: 35px 0px 0px 15px;
}
